@model MyPortfolio.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class="col-sm-2">
            Value
        </dt>
        <dd class="col-sm-10">
            @(Model.Rate * Model.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuyOrSell)
        </dt>
        <dd class="col-sm-10">
            @if (Model.BuyOrSell == true)
            {
                @Html.Label("Buy")
            }
            else
            {
                @Html.Label("Sell")
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAgency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAgency.Agency.Name) -
            @Html.DisplayFor(model => model.UserAgency.AccountNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
