@model IEnumerable<MyPortfolio.Models.UserAgency>

@{
    ViewData["Title"] = "Index";
}

<h1>My Accounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="listHeader">
        <tr>
            <th>
                Account No.
            </th>
            <th>
                Agency Name
            </th>
            <th>
                Opening Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserAgencyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserAgencyId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.UserAgencyId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
